body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* akoa gipuno */
    background: url('ctu-argao-photo-banner.jpg') no-repeat center center;
    background-size: cover;
    backdrop-filter: blur(4px);
    
}

.container {
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    position: relative;
    padding-bottom: 120px; 
    
}

.createbox {
    padding-bottom: 40px; 
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 18px;
    color: whitesmoke;
    /* color: #f0ebeb; */
    /* background: linear-gradient(to right, #ffffff 0%, #ffffff 15%, #90e3e9 50%, #ffffff 85%, #ffffff 100%); */
    background: linear-gradient(to right, #ffffff 0%, #ffffff 5%, #90e3e9 50%, #ffffff 95%, #ffffff 100%);
    /* background-color: #90e3e9; */
    text-align: center;
    padding: 5px;
}

h4,
p {
    text-align: left;
}

.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.steps {
    display: flex;
    align-items: center;
}

.step {
    width: 23px;
    height: 23px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #00aaff;
    background-color: #ccc;
    color: white;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.completed {
    background-color: #b5e0f7;
}

.current-step {
    background-color: #00aaff;
}

.line {
    height: 2px;
    width: 30px;
    background-color: #ccc;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
    margin-top: 40px;
    
}

.input-wrapper {
    position: relative;
    /* border: 1px solid #ccc;  trial */
}

.input-wrapper input {
    width: 80%;
    padding: 10px;
    padding-right: 30px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
}

/* .input-wrapper input:hover {
    border: 1px solid #000000;
} */

/* .input-wrapper .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #00aaff;
    font-size: 16px;
} */

.input-wrapper i {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50%);
    color: rgb(156, 153, 153);  
}

.button,
.next-step {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #bd1007d5;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
}

.prev-step {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffffd5;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
}

.button:hover,
.next-step:hover,
.prev-step:hover {
    background-color: #e60000;
}






.nextbutton {
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    background: #EB3434;
    transform-style: preserve-3d;
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    box-shadow: 0 0.5em 0 #B02828;
}

.nextbutton::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    transform: translateY(0.3em);
    z-index: -1;
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nextbutton:active {
    transform: translateY(0.3em);
    box-shadow: 0 0.15em 0 #720808;
}

.nextbutton:active::before {
    transform: translateY(0);
}

.nextbutton:hover {
    background: #bd2222dd;
}






/* .button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Optional: space between the buttons */
/* }

.prev-step,
.next-step {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #bd1007d5;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 0;
}

.prev-step {
    margin-right: 5px;
}

.next-step {
    margin-left: 5px;
} */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px; 
    background: url('ctu-argao-photo-banner.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 0 0 10px 10px;
    margin-top: 20px;
}
